.goods-property-group{
  .ivu-tag{
    font-size: 14px;
  }
  &-label{
    vertical-align: middle;
    float: left;
    color: #495060;
    line-height: 1;
    padding: 6px 12px 6px 0;
    box-sizing: border-box;
    color: #aaa;
  }
  .ivu-tag-checked {
    border-color: #2d8cf0;
    background-color: #2d8cf0 !important;
    .ivu-tag-text,
    .ivu-icon-ios-close-empty{
        color: #fff;
    }
  }
}