.editable-tree-node {
  display: inline-block;
  width: 100%;
  &-tools {
    display: none;
    float: right;
    margin-right: 24px;
  }

  &-operator i {
    color: #fff;
    transition: all .2s;
  }

  &-operator {
    margin-right: 8px;
  }

  &-operator:hover {
    color: #333;
  }

  &-root {
    .editable-tree-node-tools {
      margin-right: 46px;
    }
  }

  &:hover &-tools {
    display: inline-block;
  }

  &:hover &-operator i {
    color: #666;
  }

  &:hover &-operator:hover i {
    color: #2d8cf0;
  }
}