.goods-images {
  .upload-wrap {
    height: 145px;
    width: 145px;
    margin-left: 30px;
    display: inline-block;
  }

  .upload-button {
    height: 145px;
    width: 145px;
    text-align: center;
    border: 1px dashed #d9d9d9;
    cursor: pointer;
    border-radius: 6px;
    .add-image-btn {
      margin-top: 44px;
      font-size: 34px;
      color: #8c939d;
    }
  }

  .cover {
    background-color: #fbfdff;
    height: 240px;
    width: 240px;
    margin-top: 36px;
    margin-left: 28px;
    .add-image-btn {
      margin-top: 100px;
    }
  }
}